{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PetShop | {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <style>
        body {
            background-image: "% static 'img/animales.jpeg' %";
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
                aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" href="#"><img src=" {% static 'img/tienda-de-animales.png' %}" width="64px"
                    height="64px" /></a>
            <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="/index/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/galeria/">Galería</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacto/">Contacto</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/tienda">Tienda</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="/mantenedor-contacto/">Mantenedor-Contactos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout/">Logout</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
    <div class="container">
        <footer class="py-3 my-4">
            <ul class="nav-dark bg-dark justify-content-center border-bottom pb-3 mb-3">
                <li class="nav-item"><a href="/index/" class="nav-link px-2 text-muted">Home</a></li>
                <li class="nav-item"><a href="/galeria/" class="nav-link px-2 text-muted">Galería</a></li>
                <li class="nav-item"><a href="/contacto/" class="nav-link px-2 text-muted">Contacto</a></li>
            </ul>
            <p class="text-center text-muted">&copy; 2022 PetShop, SpA</p>
        </footer>
    </div>
    <script src="{% static 'bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'popperjs/core/dist/umd/popper.min.js' %}"></script>
    <script src="{% static 'jquery/dist/jquery.min.js' %}"></script>
</body>
</html>