{% extends "template.html" %}
{% load static %}
{% block title %}Contacto{% endblock %}
{% block content %}
<form id="frm-contacto" method="POST" action="/contacto/formulario">{% csrf_token %}
  <div class="container" style="max-width:700px !important">
    <div class="form-group row">
      <div class="col-sm-9">
        <label for="txt-run" class="form-label">RUN</label>
        <input id="txt-run" name="run" class="form-control" placeholder="RUN" />
      </div>
      <div class="col-sm-3">
        <label for="txt-dv" class="form-label">DV</label>
        <input id="txt-dv" name="dv" class="form-control" placeholder="DV" />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="txt-nombres" class="form-label">NOMBRES</label>
        <input id="txt-nombres" name="nombres" class="form-control" placeholder="NOMBRES" />
      </div>
      <div class="col-sm-6">
        <label for="txt-apellido-paterno" class="form-label">APELLIDO PATERNO</label>
        <input id="txt-apellido-paterno" name="apellido-paterno" class="form-control" placeholder="APELLIDO PATERNO" />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="txt-apellido-materno" class="form-label">APELLIDO MATERNO</label>
        <input id="txt-apellido-materno" name="apellido-materno" class="form-control" placeholder="APELLIDO MATERNO" />
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-6">
        <label for="txt-email" class="form-label">EMAIL</label>
        <input type="email" id="txt-email" name="email" class="form-control" placeholder="EMAIL" required pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}" />
      </div>
      <div class="col-sm-6">
        <label for="txt-telefono" class="form-label">TELÉFONO</label>
        <input type="tel" id="txt-telefono" name="telefono" class="form-control" placeholder="TELÉFONO" pattern="[0-9]{9}"/>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <label for="txt-asunto" class="form-label">ASUNTO</label>
        <textarea id="txt-asunto" name="asunto" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <button type="button" style="margin-top: 15px;" class=" col-sm-3 btn btn-primary"
        onclick="enviar()">ENVIAR</button>
    </div>
  </div>
</form>
<div id="txt-message">
</div>
<div class="container">
  <div class="row justify-content-center mt-3">
    <iframe title="direccion"
    src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d1439.1327369467663!2d-70.65700379449123!3d-33.44727071850238!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9662c508033e91c1%3A0x7de8e2dc07c5ff2a!2sPadre%20Alonso%20de%20Ovalle%201480%2C%20Santiago%2C%20Regi%C3%B3n%20Metropolitana!5e1!3m2!1ses!2scl!4v1656208055355!5m2!1ses!2scl"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
<div>
  <div class="text-left mt-5 ms-5">
    <h4>Desarrolladores</h4>
    <a href="/api/v1/contacto">Obtén los datos de los desarrolladores aquí.</a>
  </div>
</div>
<script src="{% static 'js/custom/form-enviar-asunto.js' %}"></script>
{% endblock %}