{% extends "template.html" %}
{% load static %}
{% block title %}Galería{% endblock %}
{% block content %}
    <div class="text-center">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'img/tienda.jpg' %}" class="rounded float-left mt-5" width="500px" alt="...">
            </div>
            <div class="col-md-6">
                <img src="{% static 'img/interior3.jpg' %}" width="500px" class="rounded float-right mt-5" alt="...">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'img/interior4.jpg' %}" class="rounded float-left" width="500px" alt="...">
            </div>
            <div class="col-md-6">
                <img src="{% static 'img/interior5.jpg' %}" width="500px" class="rounded float-right mt-5" alt="...">
            </div>
        </div>
    </div>
{% endblock %}