{% extends "template.html" %}
{% load static %}
{% block title %}Login{% endblock %}
{% block content %}
<form id="frm-login" method="POST" action="/login">{% csrf_token %}
    <div class="container" style="max-width:700px !important">
      <div class="form-group row">
        <div class="col-sm-12">
          <label for="txt-username" class="form-label">USERNAME</label>
          <input id="txt-username" name="username" class="form-control" placeholder="username" required />
        </div>
      </div>
      <div class="form-group row">
        <div class="col-sm-12">
          <label for="txt-password" class="form-label">PASSWORD</label>
          <input type="password" id="txt-password" name="password" class="form-control" placeholder="password" required/>        
        </div>  
      </div>

      <div class="form-group row">        
          <button type="submit" style="margin-top: 15px;" 
                        class=" col-sm-3 btn btn-primary">LOGIN</button>
      </div>         
    </div>
  </form>    
{% endblock %}